.col1{
    text-align: center;
}
.col2{
    text-align: left;
}
.col3{
    text-align: left;
}
.col4{
    text-align: left;
}
.col5{
    text-align: left;
}
.col6{
    text-align: left;
}
.col7{
    text-align: left;
}
.col8{
    text-align: left;
}
.table1{
    width: 1400px;
}